
doctype html
html(lang='en')
  head
    title Login V1
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='images/icons/favicon.ico')
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='vendor/animate/animate.css')
    link(rel='stylesheet', type='text/css', href='vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')
    link(rel='stylesheet', type='text/css', href='css/util.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    .limiter
      .container-login100
        .wrap-login100
          form.login100-form.validate-form(action="/api/auth/signup", method='post')
            span.login100-form-title
              | signup
            .wrap-input100.validate-input(data-validate='valid email is required: ex@abc.xyz')
              input.input100(type='text', name='email', placeholder='email')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-envelope(aria-hidden='true')
            .wrap-input100
              input.input100(type='text', name='username', placeholder='username')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-pencil(aria-hidden='true')
            .wrap-input100
              input.input100(type='text', name='fname', placeholder='first name')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-pencil(aria-hidden='true')
            .wrap-input100
              input.input100(type='text', name='lname', placeholder='last name')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-pencil(aria-hidden='true')
            .wrap-input100.validate-input(data-validate='password is required')
              input.input100(type='password', name='password', placeholder='password')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-lock(aria-hidden='true')
            .container-login100-form-btn
              button.login100-form-btn(id='submit' type="submit")
                | create account
            .text-center.p-t-12
              a.txt2(href='#')
                | forgot username / password?
            .text-center.p-t-136
              a.txt2(href='/login')
                | login here
                i.fa.fa-long-arrow-right.m-l-5(aria-hidden='true')
    script(src='vendor/jquery/jquery-3.2.1.min.js')
    script(src='vendor/bootstrap/js/popper.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    script(src='vendor/select2/select2.min.js')
    script(src='js/main.js')